<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{'CONTACTS' | translate | titlecase}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  ES <ion-toggle #mitoogle color="secondary" (ionChange)=cambiaIdioma($event)></ion-toggle> EN
  <ion-button expand="block" (click)="hazFoto()" color ="secondary">
    <ion-icon name="camera" slot="end"></ion-icon> Fotografiar
  </ion-button>
  <ion-img *ngIf="this.image" [src]="this.image"></ion-img>
</ion-content>